body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.hidden {
    display: none;
}

h2, h1 {
    color: #333;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
    max-width: 300px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #218838;
}

#productList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.product img {
    width: 100px;
    height: 100px;
}

.product button {
    background-color: #007bff;
}

.product button:hover {
    background-color: #0056b3;
}
